
<header>
 <h1>{{title}}</h1>

 <br>
 <ul style="display:flex; justify-content: space-around; list-style: none; font-size: 45px; color: orange">
 <style>
  a {
    text-decoration: none;
    color: orange;
    }
    </style>
  <li><a href="/">home</a></li>
  <li><a href="/about">about</a></li>
  <li><a href="/help.html">help</a></li>
  <li><a href="/endex.html">form</a></li>
 </ul>
 </header>
